.container {
  background-image: url("../../../public/ferapet/bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .overlayUp {
    width: 50%;
    display: initial;
    position: absolute;
    top: 0;
    left: -2px;
    z-index: 1;
  }
  .overlayDown {
    width: 50%;
    display: initial;
    position: absolute;
    // bottom: -20px;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .overlayMidUp {
    display: initial;
    position: absolute;
    right: 0;
    top: 600px;
    width: 800px;
  }
  .overlayMidDown {
    display: initial;
    position: absolute;
    left: 0;
    top: 2250px;
    width: 800px;
  }
  .header {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 5;
    overflow: hidden;
    .fera1 {
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 250px;
    }
    .fera2 {
      position: absolute;
      right: -100px;
      bottom: 0px;
      width: 600px;
    }
    .logo {
      width: 600px;
    }
    p {
      text-align: center;
      left: -150px;
      width: 50%;
      text-shadow: 3px 3px 10px black;
      padding-top: 20px;
      font-size: 35px;
      position: relative;
      z-index: 5;
      font-family: "Eras Medium";
      color: white;
    }
  }
  .section1 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 50px 0 150px 0;
    .fera1 {
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 350px;
      z-index: 2;
    }
    .fera2 {
      position: absolute;
      right: 0;
      bottom: 0px;
      width: 350px;
      z-index: 2;
    }
    .section1Container0 {
      position: relative;
      z-index: 5;
      background-color: #ffffff;
      width: 55%;
      padding: 10px;
      border-radius: 30px;
      .section1Container1 {
        border-radius: 30px;
        border: 2px solid #1a316b;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px 20px;
        h3 {
          font-size: 90px;
          color: #db9600;
          font-family: "Eras Bold";
          text-align: center;
        }
        p {
          font-size: 40px;
          color: #1a316b;
          font-family: "Eras bold";
          text-align: center;
        }
      }
    }
  }
  .section2 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 50px 0 100px 0;
    .section2Fera {
      position: absolute;
      z-index: 6;
      width: 660px;
      bottom: 0px;
      right: -100px;
    }
    div {
      background-image: url("../.././../public/ferapet/section2Bg.png");
      margin: 0 auto;
      width: 60%;
      height: 500px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      z-index: 5;
      left: -200px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding: 30px;
      h3 {
        font-size: 80px;
        color: #db9600;
        font-family: "Eras Bold";
        text-align: center;
      }
      p {
        width: 50%;
        font-size: 40px;
        color: #1a316b;
        font-family: "Eras bold";
        padding: 0 50px;
        text-align: center;
      }
      img {
        position: absolute;
        bottom: -75px;
        left: -50px;
        width: 200px;
      }
    }
  }
  .section3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0 100px 0;
    position: relative;
    .section3Fera {
      position: absolute;
      bottom: 0px;
      right: 10px;
      z-index: 2;
      width: 250px;
    }
    div {
      background-color: white;
      width: 70%;
      position: relative;
      z-index: 5;
      padding: 10px;
      border-radius: 25px;
      div {
        width: 100%;
        height: 100%;
        border: 1px solid #1a316b;
        padding-left: 75px;
      }
      h3 {
        font-size: 70px;
        color: #db9600;
        font-family: "Eras Bold";
        text-align: center;
      }
      p {
        font-size: 40px;
        color: #1a316b;
        font-family: "Eras bold";
        padding: 0 50px;
        text-align: center;
      }
      img {
        position: absolute;
        left: -150px;
        width: 250px;
        bottom: -100px;
      }
    }
  }
  .section4 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    // padding: 0 0 50px 0;
    padding: 50px 0 40px 0;
    .fera {
      position: absolute;
      bottom: -100px;
      right: -600px;
      width: 90%;
    }
    h3 {
      font-size: 50px;
      font-family: "Eras Bold";
      left: -150px;
      color: white;
      text-align: center;
      width: 50%;
      position: relative;
      z-index: 5;
      margin-bottom: 20px;
    }
    iframe {
      position: relative;
      z-index: 5;
      left: -150px;
      width: 50vw;
      height: 25vw;
    }
    button {
      width: 350px;
      position: relative;
      z-index: 5;
      height: 50px;
      font-size: 25px;
      font-family: "Eras Bold";
      color: white;
      background-color: #db9600;
      border: none;
      border-radius: 10px;
      margin: 100px 0 0 0;
      text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.579);
    }
  }
}
@media (max-height: 655px) {
  .container {
    .header {
      height: 120vh;
    }
  }
}
@media (max-width: 1470px) {
  .container {
    .section2 {
      div {
        p {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 1320px) {
  .container {
    .header {
      height: 100vh;
      .logo {
        width: 400px;
      }
      .fera2 {
        right: -150px;
      }
      .fera1 {
        width: 225px;
      }
      p {
        left: -100px;
        font-size: 30px;
      }
    }
    .section1 {
      .fera1,
      .fera2 {
        width: 275px;
      }
      .fera2 {
        right: -25px;
      }
      .section1Container0 {
        .section1Container1 {
          h3 {
            font-size: 70px;
          }
          p {
            font-size: 30px;
          }
        }
      }
    }
    .section2 {
      .section2Fera {
        width: 500px;
      }
      div {
        justify-content: center;
        h3 {
          font-size: 70px;
        }
        p {
          font-size: 40px;
        }
      }
    }
    .section3 {
      padding-top: 150px;
      .section3Fera {
        right: -60px;
      }
      div {
        div {
          h3 {
            font-size: 50px;
          }
          p {
            font-size: 30px;
          }
        }
      }
    }
    .section4 {
      .fera {
        width: 105%;
      }
    }
  }
}
@media (max-width: 1150px) {
  .container {
    .header {
      p {
        width: 45%;
        left: -110px;
      }
    }
    .section1 {
      .fera1 {
        left: -50px;
      }
      .fera2 {
        right: -75px;
      }
    }
    .section2 {
      padding-top: 0;
      .section2Fera {
        width: 400px;
      }
      div {
        left: -100px;
        h3 {
          font-size: 50px;
        }
        p {
          font-size: 25px;
        }
        img {
          width: 150px;
          bottom: 0;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .container {
    .section4 {
      .fera {
        right: -500px;
      }
      h3 {
        font-size: 40px;
      }
      iframe {
        width: 60vw;
        height: 30vw;
      }
    }
  }
}
@media (max-width: 1050px) {
  .container {
    .header {
      .fera1 {
        width: 150px;
      }
      .fera2 {
        width: 500px;
      }
      p {
        width: 55%;
        left: -90px;
      }
    }
    .section3 {
      padding-top: 100px;
      .section3Fera {
        width: 200px;
      }
      div {
        div {
          padding: 20px 0;
          h3 {
            font-size: 40px;
          }
          p {
            font-size: 25px;
          }
        }
        img {
          width: 200px;
        }
      }
    }
  }
}
@media (max-width: 970px) {
  .container {
    .header {
      p {
        width: 50%;
        padding: 10px 15px 0 15px;
        font-size: 25px;
      }
    }
    .section4 {
      .fera {
        width: 1200px;
        right: -450px;
      }
    }
  }
}
@media (max-width: 900px) {
  .container {
    .section1 {
      .fera1,
      .fera2 {
        width: 250px;
      }
      .section1Container0 {
        .section1Container1 {
          h3 {
            font-size: 60px;
          }
          p {
            font-size: 25px;
          }
        }
      }
    }
    .section2 {
      padding-bottom: 50px;
      div {
      }
    }
  }
}
@media (max-width: 850px) {
  .container {
    .header {
      p {
        left: -70px;
      }
      .fera2 {
        width: 450px;
      }
    }
    .section3 {
      div {
        width: 60%;
        div {
          img {
            top: -70px;
          }
        }
      }
    }
    .section4 {
      .fera {
        right: -570px;
      }
      h3,
      iframe {
        left: -100px;
      }
      iframe {
        width: 70vw;
        height: 35vw;
      }
    }
  }
}
@media (max-width: 800px) {
  .container {
    .section1 {
      .fera1 {
        left: -75px;
      }
      .fera2 {
        right: -100px;
      }
    }
    .section2 {
      div {
        h3 {
          font-size: 40px;
        }
        p {
          font-size: 25px;
        }
      }
    }
  }
}
@media (max-width: 720px) {
  .container {
    .overlayDown {
      width: 100%;
    }
    .overlayUp {
      width: 100%;
    }
    .header {
      height: 100%;
      padding: 75px 0 20px 0;
      flex-direction: column;
      .fera1 {
        display: none;
      }
      .fera2 {
        position: relative;
        order: 3;
        left: 0;
        right: 0;
        width: 70%;
      }
      .logo {
        width: 70%;
      }
      p {
        text-align: center;
        width: 95%;
        left: 0;
      }
    }
    .section1 {
      .section1Container0 {
        margin-bottom: 120px;
        width: 90%;
        p {
          padding: 0 25px;
          padding-bottom: 50px;
        }
      }
      .fera1 {
        z-index: 6;
      }
      .fera2 {
        z-index: 6;
      }
    }
    .section2 {
      margin-top: 30px;
      div {
        width: 90%;
        left: 0;
        height: 350px;
        h3 {
          font-size: 60px;
        }
        p {
          font-size: 30px;
        }
        img {
          bottom: -40px;
          left: -30px;
          width: 100px;
        }
      }
      .section2Fera {
        // display: none;

        width: 200px;
        right: -50px;
      }
    }
    .section3 {
      display: flex;
      justify-content: flex-end;
      padding-right: 15px;
      div {
        width: 80%;
        div {
          padding-left: 60px;
          h3 {
            font-size: 40px;
          }
          p {
            font-size: 20px;
          }
          img {
            left: -130px;
            top: -100px;
            width: 200px;
          }
        }
      }
      .section3Fera {
        display: none;
      }
    }
    .section4 {
      padding: 0;
      h3 {
        left: 0;
        width: 90%;
        font-size: 45px;
      }
      iframe {
        left: 0;
        width: 90%;
        height: 350px;
      }
      .fera {
        display: none;
      }
      button {
        margin: 30px 0;
      }
    }
  }
}
@media (max-width: 575px) {
  .container {
    .section2 {
      margin-bottom: -30px;
      .section2Fera {
        right: -75px;
        bottom: 50px;
      }
      div {
        h3 {
          font-size: 40px;
        }
        p {
          font-size: 25px;
        }
        img {
          bottom: 0;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .container {
    .section3 {
      padding-top: 50px;
      div {
        div {
          img {
            width: 175px;
            left: -100px;
            top: -50px;
          }
        }
      }
    }
    .section4 {
      iframe {
        height: 300px;
      }
      button {
        width: 90%;
      }
    }
  }
}
@media (max-width: 475px) {
  .container {
    .section2 {
      margin-top: 0;
      div {
        width: 95%;
        h3 {
          font-size: 35px;
        }
        p {
          font-size: 20px;
        }
      }
    }
    .section3 {
      div {
        div {
          h3 {
            font-size: 30px;
          }

          p {
            font-size: 20px;
          }
        }
      }
    }
    .section4 {
      iframe {
        height: 250px;
      }
    }
  }
}
@media (max-width: 420px) {
  .container {
    .header {
      p {
        font-size: 20px;
      }
    }
    .section1 {
      .section1Container0 {
        margin-bottom: 50px;
        .section1Container1 {
          h3 {
            font-size: 40px;
          }
          p {
            font-size: 18px;
            padding-bottom: 20px;
          }
        }
      }
      .fera1 {
        width: 200px;
      }
      .fera2 {
        width: 200px;
      }
    }
    .section3 {
      div {
        div {
          img {
            width: 200px;
            left: -130px;
          }
        }
      }
    }
  }
}
@media (max-width: 375px) {
  .container {
    .section2 {
      .section2Fera {
        right: -100px;
      }
      div {
        h3 {
          font-size: 25px;
        }
        p {
          font-size: 15px;
        }
        img {
          bottom: 30px;
        }
      }
    }
    .section3 {
      padding: 30px 10px;
      div {
        width: 100%;
        div {
          padding: 10px 0;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          img {
            position: relative;
            left: 0;
            top: 0;
          }
        }
      }
    }
    .section4 {
      iframe {
        height: 180px;
      }
    }
  }
}
