.container {
  background-image: url("../../../public/secretForest/bg.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 40px;
  overflow: hidden;
  position: relative;
  img {
    display: none;
  }
  .overlayUp {
    width: 50%;
    display: initial;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .overlayDown {
    width: 50%;
    display: initial;
    position: absolute;
    bottom: -20px;
    right: 0;
    z-index: 1;
  }
  .overlayMidUp {
    display: initial;
    position: absolute;
    right: 0;
    top: 100px;
    width: 800px;
  }
  .overlayMidDown {
    display: initial;
    position: absolute;
    left: 0;
    top: 1750px;
    width: 800px;
  }
  .embear {
    display: initial;
    position: absolute;
    left: -125px;
    top: 150px;
    z-index: 2;
    width: 600px;
  }
  .goblin {
    display: initial;
    position: absolute;
    right: -50px;
    top: 350px;
    z-index: 2;
    width: 400px;
  }
  .axolotl {
    display: initial;
    position: absolute;
    top: 1500px;
    width: 450px;

    right: -50px;
  }
  .fairan {
    display: initial;
    position: absolute;
    bottom: -10px;
    right: 100px;
    z-index: 2;
    width: 450px;
  }
  h3 {
    font-size: 35px;
    font-family: "Eras Bold";
    color: white;
    position: relative;
    z-index: 5;
    text-align: center;
    width: 80%;

  }
  p {
    position: relative;
    z-index: 5;
  }
  .logo {
    font-family: "Eras Demi";
    display: flex;
    width: 25%;
  }
  .text1 {
    font-size: 30px;
    width: 55%;
    text-align: center;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px 5px black;
  }
  .text2 {
    margin: 40px 0;
    background: red;
    width: 52%;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 5;
    padding: 45px 20px;
    border-radius: 25px;
    p {
      color: #11439f;
      font-size: 30px;
      text-align: center;
      font-weight: 800;
    }
  }
  .text3 {
    font-size: 50px;
    width: 55%;
    font-family: "Eras Bold";
    text-align: center;
    font-weight: 900;
    color: white;
    text-shadow: 3px 3px 10px black;
  }
  .text4 {
    width: 50%;
    background-image: url("../../../public/secretForest/bg2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 5;
    height: 100%;
    padding: 50px 0;
    margin-top: 70px;
    margin-bottom: 50px;
    border-radius: 25px;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      height: 100%;
      width: 70%;
      text-align: center;
      color: white;
      font-family: "Eras Bold";
      font-size: 35px;
      text-shadow: 3px 3px 10px black;
      //   background: red;
    }
    img {
      position: absolute;
      display: initial;
      &:first-child {
        left: -80px;
        top: 20px;
        width: 200px;
      }
      &:last-child {
        right: -80px;
        top: 20px;
        width: 150px;
      }
    }
  }
  .text5 {
    font-size: 30px;
    width: 55%;
    text-align: center;
    font-weight: 600;
    color: white;
    text-shadow: 3px 3px 5px black;
  }
  .text6 {
    margin: 40px 0;
    width: 60%;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 5;
    padding: 50px 0px;
    border-radius: 25px;
    p {
      margin: 0 auto;
      color: black;
      font-size: 30px;
      width: 80%;
      text-align: center;
      font-weight: 600;
    }
  }
  .trailer {
    width: 80%;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
    p {
      padding-left: 375px;
      padding-top: 10px;
      color: white;
      font-family: "eras bold";
      font-size: 30px;
    }
    iframe {
      //   width: 700px;
      //   height: 393.75px;
      width: 888.89px;
      height: 500px;
    }
  }
  button {
    background-color: #e7a109;
    border: none;
    font-size: 25px;
    font-family: "Eras Bold";
    border-radius: 25px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.585);
    position: relative;
    z-index: 5;
    width: 350px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
@media (max-width: 1350px) {
  .container {
    .fairan {
      right: 0;
      width: 400px;
    }
    .trailer {
      p {
        padding-left: 250px;
      }
      iframe {
        width: 600px;
        height: 337px;
      }
    }
  }
}
@media (max-width: 1200px) {
  .container {
    .embear {
      top: 300px;
      width: 450px;
    }
    .goblin {
      width: 400px;
    }
    .axolotl {
      width: 350px;
      top: 1650px;
    }
    .text4 {
      width: 70%;
    }
  }
}
@media(max-width:1100px){
  .container{
    .axolotl{
      top: 1800px;
      z-index: 2;
    }
  }
}
@media (max-width: 990px) {
  .container {
    padding-bottom: 50px;
    .goblin {
      top: 200px;
    }
    .fairan {
      width: 300px;
    }
    .text1 {
      font-size: 25px;
    }
    .text2 {
      margin: 20px 0;
      width: 60%;
      p {
        font-size: 25px;
      }
    }
    .text3 {
      font-size: 40px;
    }
    .text4 {
      margin-bottom: 0;
      width: 80%;
      img:first-child {
        left: -90px;
      }
    }
    .text5 {
      width: 80%;
      font-size: 25px;
    }
    .text6 {
      margin-top: 50px;
      left: -150px;
    }
    .trailer {
      width: 90%;
      margin-top: 100px;
    }
  }
}
@media (max-width: 900px) {
  .container {
    .embear {
      width: 350px;
    }
    .goblin {
      width: 300px;
      right: -75px;
    }
    .axolotl {
      top: 1800px;
    }
    .fairan {
      width: 250px;
    }
    .overlayMidDown {
      display: none;
    }
    .trailer {
      // margin: 0;
      margin-top: 60px;
      p {
        padding-left: 210px;
      }
      iframe {
        width: 500px;
        height: 281px;
      }
    }
  }
}
@media (max-width: 800px) {
  .container {
    .axolotl {
      width: 250px;
      right: 0;
    }
    .fairan {
      width: 250px;
    }
    .text6 {
      p {
        font-size: 20px;
      }
    }
  }
}
@media (max-width: 720px) {
  .container {
    .overlayUp {
      width: 100%;
      left: -1px;
    }
    .overlayDown {
      width: 100%;
      right: 0;
    }
    .overlayMidUp {
      width: 80%;
      top: 500px;
    }
    .embear {
      width: 200px;
      left: -30px;
      top: 430px;
    }
    .goblin {
      width: 200px;
      right: -30px;
      top: 550px;
    }
    .axolotl {
      top: 1800px;
    }
    .logo {
      z-index: 5;
      width: 60%;
    }
    .text1 {
      width: 60%;
      font-size: 22px;
    }
    .text2 {
      width: 60%;
      padding: 25px 20px;
      p {
        font-size: 25px;
      }
    }
    .text3 {
      width: 80%;
      font-size: 30px;
    }
    .text4 {
      padding: 20px 0;
      p {
        width: 80%;
      }
      img {
        &:first-child {
          top: 50px;
          width: 150px;
          left: -72px;
        }
        &:last-child {
          top: 50px;
          right: -50px;
          width: 100px;
        }
      }
    }
    .text5 {
      font-size: 22px;
    }
    .text6 {
      left: -110px;
    }
    .fairan {
      width: 65%;
      bottom: 220px;
      left: initial;
      left: 100px;
      right: initial;
    }
    .trailer {
      margin-top: 410px;
      justify-content: center;
      align-items: center;
      p {
        padding-left: 0;
      }
      iframe {
        width: 95%;
        height: 350px;
      }
    }
    button {
      width: 90%;
      height: 60px;
    }
  }
}
@media (max-width: 630px) {
  .container {
    .axolotl {
      top: 1920px;
    }
  }
}
@media (max-width: 570px) {
  .container {
    .axolotl {
      top: 1850px;
      right: -65px;
    }
    .embear {
      top: 400px;
    }
    .text2 {
      p {
        font-size: 20px;
      }
    }
    .text4 {
      margin-top: 20px;
    }
    .text6 {
      // width: 5;
      margin-left: 30px;
      align-self: flex-start;
      left: 0;
    }
    .trailer {
      margin-top: 300px;
    }
  }
}

@media (max-width: 520px) {
  .container {
    .axolotl {
      top: 1800px;
      right: -80px;
    }
    .text4 {
      p {
        font-size: 20px;
      }
      img {
        &:first-child {
          width: 100px;
          top: 20px;
          left: -50px;
        }
        &:last-child {
          width: 75px;
          top: 20px;
          right: -37px;
        }
      }
    }
    .text5 {
      width: 90%;
      height: 300px;
    }
    .text6 {
      margin-top: 0;
      padding: 20px 5px;
    }
    .trailer {
      width: 100%;
      iframe {
        width: 95%;
        height: 290px;
      }
    }
  }
}
@media (max-width: 470px) {
  .container {
    .axolotl {
      display: none;
    }
    .text5 {
      height: 100%;
    }
    .text6 {
      align-self: center;
      width: 90%;
      margin: 0;
    }
    .trailer {
      margin-top: 370px;
    }
    .fairan {
      left: initial;
      right: initial;
      width: 80%;
    }
  }
}
@media (max-width: 420px) {
  .container {
    .embear {
      display: none;
    }
    .goblin {
      // display: none;
      top: 1400px;
      width: 200px;
    }
    .text1 {
      width: 90%;
    }
    .text2 {
      width: 90%;
      margin: 0;
    }
    .text3 {
      width: 90%;
    }
    .text4 {
      margin: 0;
    }
    .text5 {
      width: 60%;
      align-self: flex-start;
      padding-left: 50px;
    }
    .trailer {
      margin-top: 310px;
    }
  }
}
@media (max-width: 390px) {
  .container {
    .text5 {
      padding-left: 10px;
    }
    .trailer {
      margin-top: 270px;
    }
  }
}

@media (max-width: 369px) {
  .container {
    .goblin {
      right: -90px;
      top: 1250px;
      width: 240px;
    }
    .trailer {
      margin-top: 240px;
    }
  }
}
