.container {
  background-image: url("../../../public/workTeams/bg.png");
  width: 100%;
  height: 100%;
  padding-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 200px;

  .overlayUp {
    position: absolute;
    top: 0;
    left: -3px;
    width: 70%;
    z-index: 1;
  }
  .overlayDown {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    z-index: 1;
  }
  h1 {
    font-size: 150px;
    font-family: "Eras Bold";
    color: #011a5a;
    z-index: 2;
    text-shadow: 3px 3px 0px white;
  }
  .cardLeft {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 100%;
    color: black;
    border-radius: 25px;
    background-color: white;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.267);
    .cardLeftImage {
      border-radius: 10px 0 0 10px;
      img {
        border-radius: 10px 0 0 10px;
        width: 300px;
        margin-bottom: -5px;
        height: 100%;
      }
    }
    .cardLeftTextButtons {
      position: absolute;
      right: 10px;
      top: 10px;
      button {
        margin: 5px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    .cardLeftText {
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
      top: -50px;
      gap: 5px;
      padding-left: 15px;
      padding-right: 30px;
      p:nth-child(1) {
        font-size: 35px;
        font-weight: 500;
      }
      p:nth-child(2) {
        font-size: 20px;
        font-weight: 400;
        color: darkgray;
      }
      p:nth-child(3) {
        font-weight: 400;
        font-size: 20px;
      }
    }
  }
  .cardRight {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 80%;
    height: 100%;
    color: black;
    border-radius: 25px;
    background-color: white;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.267);

    .cardRightImage {
      border-radius: 0 10px 10px 0;
      img {
        border-radius: 0 10px 10px 0;
        width: 300px;
        margin-bottom: -5px;
        height: 100%;
      }
    }
    .cardRightTextButtons {
      position: absolute;
      left: 10px;
      top: 10px;
      button {
        margin: 5px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
    .cardRightText {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      position: relative;
      top: -50px;
      gap: 5px;
      padding-left: 15px;
      padding-right: 30px;
      p:nth-child(1) {
        font-size: 35px;
        font-weight: 500;
      }
      p:nth-child(2) {
        font-size: 20px;
        font-weight: 400;
        color: darkgray;
      }
      p:nth-child(3) {
        font-weight: 400;
        font-size: 20px;
        text-align: right;
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    padding-bottom: 100px;
    .cardLeft {
      .cardLeftText {
        top: -30px;
      }
    }
    .cardRight {
      .cardRightText {
        top: -30px;
      }
    }
  }
}

@media (max-width: 950px) {
  .container {
    .cardLeft {
      .cardLeftText {
        p:nth-child(1) {
          text-align: left;
          font-size: 25px;
        }
        p:nth-child(3) {
          font-size: 17px;
        }
      }
    }
    .cardRight {
      .cardRightText {
        p:nth-child(1) {
          text-align: right;
          font-size: 25px;
        }
        p:nth-child(3) {
          font-size: 17px;
        }
      }
    }
  }
}
@media (max-width: 850px) {
  .container {
    padding-top: 130px;
    h1 {
      font-size: 100px;
    }
    .cardLeft {
      .cardLeftText {
        top: 0;
      }
    }
    .cardRight {
      .cardRightText {
        top: 0;
      }
    }
  }
}
@media (max-width: 800px) {
  .container {
    .cardLeft {
      .cardLeftText {
        p:nth-child(2) {
          font-size: 15px;
        }
        p:nth-child(3) {
          font-size: 15px;
        }
      }
    }
    .cardRight {
      .cardRightText {
        p:nth-child(2) {
          font-size: 15px;
        }
        p:nth-child(3) {
          font-size: 15px;
        }
      }
    }
  }
}
@media (max-width: 720px) {
  .container {
    .cardLeft {
      width: 75%;
      flex-direction: column;
      padding-bottom: 25px;
      height: 100%;
      .cardLeftImage {
        width: 100%;
        height: 50%;
        border-radius: 10px 10px 0px 0;
        img {
          border-radius: 10px 10px 0px 0;
          object-position: 100% 0;
          object-fit: cover;
          width: 100%;
          margin: 0;
          height: 450px;
        }
      }
      .cardLeftText {
        justify-content: flex-start;
        padding-top: 15px;
        top: 0;
        align-items: center;
        height: 50%;
        p:nth-child(1) {
          font-size: 40px;
          text-align: center;
        }
        p:nth-child(2) {
          font-size: 20px;
          text-align: center;
        }
        p:nth-child(3) {
          font-size: 20px;
          text-align: center;
        }
      }
    }
    .cardRight {
      width: 75%;
      flex-direction: column-reverse;
      padding-bottom: 25px;
      height: 100%;
      .cardRightImage {
        width: 100%;
        height: 50%;
        border-radius: 10px 10px 0px 0;
        img {
          border-radius: 10px 10px 0px 0;
          object-position: 100% 0;
          object-fit: cover;
          width: 100%;
          margin: 0;
          height: 450px;
        }
      }
      .cardRightText {
        justify-content: flex-start;
        padding-top: 15px;
        top: 0;
        align-items: center;
        height: 50%;
        p:nth-child(1) {
          font-size: 40px;
          text-align: center;
        }
        p:nth-child(2) {
          font-size: 20px;
          text-align: center;
        }
        p:nth-child(3) {
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .container {
    h1 {
      font-size: 80px;
    }
  }
}
@media (max-width: 450px) {
  .container {
    h1 {
      font-size: 50px;
    }
    .cardLeft {
      .cardLeftImage {
        img {
          height: 300px;
        }
      }
      .cardLeftText {
        p:nth-child(1) {
          font-size: 25px;
        }
        p:nth-child(2) {
          font-size: 15px;
        }
        p:nth-child(3) {
          font-size: 18px;
        }
      }
    }
    .cardRight {
      .cardRightImage {
        img {
          height: 300px;
        }
      }
      .cardRightText {
        p:nth-child(1) {
          font-size: 25px;
        }
        p:nth-child(2) {
          font-size: 15px;
        }
        p:nth-child(3) {
          font-size: 18px;
        }
      }
    }
  }
}
